# This is a gitignore file.
# It tells git which files and directories it should avoid tracking.
# For an explanation of the format, see the following link:
#   https://git-scm.com/docs/gitignore
# You may edit this file according to your needs.

### General ###

# Backup files
*~
\#*#
*.bak

# Vim swap files
*.swo
*.swp


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


### Python ###

# Compiled modules
__pycache__
*.pyc
*.pyo

# Jupyter Notebook
.ipynb_checkpoints


.DS_Store